/* specific to this site */

:root
{
    --color-black: #000;
    --color-brown-dark: #2b1d0e;
    --color-grey: #888;
    --color-green-dark: #2d5a27;
    --color-green: #127d04;
    --color-green-light: #71fa5f;

    --color-orange: #FC4C02;
    --color-orange-dark: #c23a02;
    --color-orange-light: #fe834f;

    --color-violet-dark: #49304c;
    --color-violet: #825588;
    --color-violet-light: #c1a2c5;
    --color-white: #fff;

    --color-border-neutral: var(--color-grey);
    
    --color-foreground-accent: var(--color-violet-light);
    --color-foreground-primary: var(--color-green-light);
    --color-foreground-neutral: var(--color-white);
    --color-foreground-warn: var(--color-orange-light);

    --color-background-accent: var(--color-violet-dark);
    --color-background-neutral: var(--color-black);    
    --color-background-primary: var(--color-green-dark);
    --color-background-secondary: var(--color-brown-dark);
    --color-background-warn: var(--color-orange-dark);

    --radius: 2rem;

    
    --accent-color: #b4def2;
    --theme-color: #008;
    --theme-font-color: #fff;
    --negative-color: #fff;
}

body
{
    flex-direction: column;
    display: flex;
    min-height: 100vh
}

.container
{
    background-color: var(--color-background-secondary);
    display: flex;
    font-family:"Hyperlegible";
    flex-direction: column;
    flex-grow: 1;
}

.h1 { font-family:"DejaVu Sans Mono", monospace; }

.header
{
    background-color: var(--color-background-primary);
    border-radius: var(--radius);
    box-shadow: 0px 0px 2rem 0px var(--color-background-neutral);
    color: var(--color-foreground-neutral);
    margin: .5rem;
    padding: 1rem;
}

.input-text
{
    border: none;
    font-family: "DejaVu Sans Mono", monospace;
    padding: .5rem;
}

.label-text { display: block; }

.label-span
{
    background-color: var(--color-background-neutral);
    font-weight: bold;
    padding: .5rem;
    display: inline-block;
}

.leaf
{
    background-color: var(--color-background-primary);
    border-radius: var(--radius);
    box-shadow: 0px 0px 2rem 0px var(--color-background-neutral);
    color: var(--color-foreground-neutral);
    margin: .5rem;
    padding: 1rem;
}

.nav-a
{
    color: var(--color-foreground-neutral);
    padding-right: 1rem;
}
